/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: $blue;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

::-moz-selection {
    background: $gold;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

main{
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    @include bp(900px){
        padding-top: 30px;
    }

}
body {
  font-size: 16px;  
  line-height: 22px;
  margin: 0 auto;
  background-color: #d3d3d1;
  background-image: url(../img/purty-wood.png);

}
h1, h2, h3, h4 {
    font-family: $fontH;
}
h1 {
  font-size: 54px;
  margin-bottom: -420px;
  margin-top: 170px;

  @include bp(510px){   //when p goes to 1 line
    margin-bottom: -380px;
    margin-top: 140px;
  }
  @include bp(600px){
    margin-bottom: -420px;
    margin-top: 170px;
  }
  @include bp(698px){  //when h2 goes to 1 line
    margin-bottom: -380px;
    margin-top: 140px;
  }
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-top: 33px;
  margin-bottom: 22px;
  @include bp(600px){
    font-size: 32px;
    margin-bottom: 33px;
    margin-top: 44px;
  }
  @include bp(900px){
    font-size: 36px;
    margin-top: 33px;
  }
}
h3 {
  font-size: 24px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 22px;
  margin-bottom: 200px;
  font-family: $fontB;
  @include bp(390px){
    margin-bottom: 220px;
  }
  @include bp(514px){
    margin-bottom: 260px;
  }
  @include bp(600px){
    font-size: 18px;
  }
  @include bp(620px){
    margin-bottom: 290px;
  }
  @include bp(900px){
    font-size: 22px;
  }
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}




// Styles for the form.  All importants to override form settings. 
.cognito form{
   text-align: center !important; 
   max-width: 432px !important;
   margin: 0 auto !important;
   div#c-forms-form{
    font-family: $fontB !important;
    font-size: 16px;
   }
   div.c-button-section {
    max-width: 300px !important;
    margin: 0 auto !important;
        .c-action{
            float: none !important;
        }
     
        #c-submit-button:hover{
            @include bp(1025px){
                background-color: #ffdf10;
            }
        }
    
   }
    
}


*, *:before, *:after{
    box-sizing: border-box;
}
.logoReplace a {
    display: block;
    max-width: 500px;
    height: 242px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/logo-cropped.png");
    text-indent: -9999px;
    margin: 0 auto;
    &:after{
      display: none;
    }
}
img {
    max-width: 100%;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}